@import url("https://use.typekit.net/gys0gor.css");

:root {
    /* Configuration du thème */
    color-scheme: light dark;

    /* Couleurs de base */
    --primary-color: #1A5E63;
    --secondary-color: #FFC857;

    /* Couleurs des composants - Mode clair */
    --background-primary: #F9FAFA;
    --background-secondary: #F7F9FA;
    --background-input: #ECF0F1;

    /* Text */
    --text-primary: #050E10;
    --text-secondary: #0A1B20;
    --text-disabled: #BDC3C7;

    /* Boutons */
    --button-primary: #1A5E63;
    --button-primary-hover: #15484B;
    --button-secondary: #FFC857;
    --button-secondary-hover: #FCCF6C;
    --button-disabled: #E0E6E8;

    /* États */
    --success: rgba(102, 187, 106, 0.55);
    --warning: rgba(255, 193, 7, 0.55);
    --error: rgba(239, 83, 80, 0.55);
    --info: rgba(100, 181, 246, 0.55);

    /* Bordures */
    --border-light: #87999A;
    --border-medium: #6B7B7C;
    --border-dark: #162122;

    /* Degradés */
    --gradient-hover: linear-gradient(to bottom,
    rgba(240, 240, 240, 0.8), rgba(220, 220, 220, 0.9)
    );

    /* Overlays et shadows */
    --overlay: rgba(44, 62, 80, 0.1);
    --shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

    /* Inputs */
    --input-border: #1A5E63;
    --input-focus: rgba(26, 94, 99, 20%);

    /* Liens */
    --link-color: #2A8F96;
    --link-hover: #1A5E63;
}
/* Mode sombre */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1A5E63;
        --secondary-color: #FFC857;

        --background-primary: #1B1B1B;
        --background-secondary: #202020;
        --background-input: #2D2D2D;

        --text-primary: #EAEAEA;
        --text-secondary: #CFCFCF;
        --text-disabled: #7F8C8D;

        --button-primary: #1A5E63;
        --button-primary-hover: #15484B;
        --button-secondary: #FFC857;
        --button-secondary-hover: #F3BA44;
        --button-disabled: #4F5B5C;

        --success: rgba(39, 174, 96, 0.4);
        --warning: rgba(243, 156, 18, 0.4);
        --error: rgba(231, 76, 60, 0.4);
        --info: rgba(52, 152, 219, 0.4);

        --border-light: #2C3E50;
        --border-medium: #34495E;
        --border-dark: #1A252F;

        --gradient-hover: linear-gradient(to bottom,
        rgba(30, 30, 30, 0.8), rgba(15, 15, 15, 0.9)
        );

        --overlay: rgba(0, 0, 0, 0.5);
        --shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.3);
        --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);
        --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.3);

        --input-border: #1A5E63;
        --input-focus: rgba(26, 94, 99, 20%);

        --link-color: #1A5E63;
        --link-hover: #15484B;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /** Font **/
    font-family: "mulish-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: var(--background-secondary);
    transition: background-color 0.5s ease;
}

/* === Menu === */

/* === Container principal === */
.main-container {
    display: flex;
}